<h1>Add New Game</h1>
<form class="form-horizontal col-lg-8 col-lg-offset-2"
      method="post" action="/add">
    <div class="form-group">
        <label for="meeting">Game's date : </label><input id="date" type="date"/>    
    </div>
    
    
    
    <div class="col-sm-6" width="50%">
        <div class="form-group">
            <div class="form-group">
                <label for="password" class="col-lg-2 control-label">Team Name</label>
                <div class="col-lg-10">
                    <input class="form-control" type="bteamname" id="bteamname" name="bteamname">
                </div>
            </div>
            <div class="form-group">
                <label for="championName" class="col-lg-2 control-label">Champion 1</label>
                <div class="col-lg-10">
                    <input class="form-control" type="bchamp1" id="bchamp1" name="bchamp1">
                </div>
            </div>
            <div class="form-group">
                <label for="championName" class="col-lg-2 control-label">Champion 2</label>
                <div class="col-lg-10">
                    <input class="form-control" type="bchamp2" id="bchamp2" name="bchamp2">
                </div>
            </div>
            <div class="form-group">
                <label for="championName" class="col-lg-2 control-label">Champion 2</label>
                <div class="col-lg-10">
                    <input class="form-control" type="bchamp3" id="bchamp3" name="bchamp3">
                </div>
            </div>
            <div class="form-group">
                <label for="championName" class="col-lg-2 control-label">Champion 3</label>
                <div class="col-lg-10">
                    <input class="form-control" type="bchamp4" id="bchamp4" name="bchamp4">
                </div>
            </div>
            <div class="form-group">
                <label for="championName" class="col-lg-2 control-label">Champion 3</label>
                <div class="col-lg-10">
                    <input class="form-control" type="bchamp5" id="bchamp5" name="bchamp5">
                </div>
            </div>
        </div>
      <div class="form-group">
          <label for="leiras" class="col-lg-2 control-label">Side: </label>
          <div class="col-lg-10">
            <select class="form-control" name="rside" id="bside">
                <option selected>Blue Side</option>
                <option>Red Side</option>
            </select>
          </div>
        </div>
    </div>
    

    
    
    
    <div class="col-sm-6">
    <div class="form-group">
            <div class="form-group">
                <label for="password" class="col-lg-2 control-label">Team Name</label>
                <div class="col-lg-10">
                    <input class="form-control" type="rteamname" id="rteamname" name="rteamname">
                </div>
            </div>
            <div class="form-group">
                <label for="championName" class="col-lg-2 control-label">Champion 1</label>
                <div class="col-lg-10">
                    <input class="form-control" type="rchamp1" id="rchamp1" name="rchamp1">
                </div>
            </div>
            <div class="form-group">
                <label for="championName" class="col-lg-2 control-label">Champion 1</label>
                <div class="col-lg-10">
                    <input class="form-control" type="rchamp2" id="rchamp2" name="rchamp2">
                </div>
            </div>
            <div class="form-group">
                <label for="championName" class="col-lg-2 control-label">Champion 2</label>
                <div class="col-lg-10">
                    <input class="form-control" type="rchamp3" id="rchamp3" name="rchamp3">
                </div>
            </div>
            <div class="form-group">
                <label for="championName" class="col-lg-2 control-label">Champion 2</label>
                <div class="col-lg-10">
                    <input class="form-control" type="rchamp4" id="rchamp4" name="rchamp4">
                </div>
            </div>
            <div class="form-group">
                <label for="championName" class="col-lg-2 control-label">Champion 3</label>
                <div class="col-lg-10">
                    <input class="form-control" type="rchamp5" id="rchamp5" name="rchamp5">
                </div>
            </div>
        </div>
        <div class="form-group">
          <label for="leiras" class="col-lg-2 control-label">Side: </label>
          <div class="col-lg-10">
            <select class="form-control" name="rside" id="rside">
                <option>Blue Side</option>
                <option selected>Red Side</option>
            </select>
          </div>
        </div>
    </div>
    
    
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default pull-right">Cancel</button>
        <button type="submit" class="btn btn-success pull-right">Add</button>
      </div>
    </div>
</form>